<%- include('partials/head'); -%>
<%- include('partials/header'); -%>
<link rel="stylesheet" href="/resources/css/products.css">
    <main>
      <section>
        <div class="skins-container">
          <% skins.forEach(skin => { %>
            <div class="skin">
              <img class="imagen" src="<%= skin.imagen_url %>" alt="<%= skin.nombre_skin %>">
              <h3><%= skin.nombre_skin %></h3>
              <p><%= skin.descripcion %></p>
              <p class="tprecio">$<%= skin.precio %><% if (skin.descuento == "1"){%>🔻<% }%></p>
            </div>
          <% }) %>
        </div>
      </section>
    </main>

<%- include('partials/footer'); -%>
